@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Mulish:wght@300&family=Open+Sans:wght@300&family=Pacifico&family=Satisfy&display=swap');
.room>h1{
    color:aliceblue;
}
#formButton{
    padding:10px 15px;
   position:relative;
   left:35%;
   background-color: rgb(56, 56, 148);
   color:white;
   border:0px;
   border-radius: 3px;
}
#newroomButton{
    padding:10px 15px;
    margin-left:5px;
    width:30%;
    background-color: rgb(56, 56, 148);
    color:white;
    border:0px;
    border-radius: 3px;
}
.room>div{
  
    text-align: center;
    width:50%;
    font-family: 'Arimo', sans-serif;
   box-shadow: 0px 0px 12px 3px;
    margin-left:26%;
    margin-top: 10vh;
  
padding: 25px;
border-radius: 3px;
background-color:white;
color:gray;
}
.room form{
    text-align: left;
    margin-left: 98px;
}
.room input{
    padding:9px;
    width:80%;
}

.room{
    font-family: 'Arimo', sans-serif;
}
.room p{
    font-size: larger;
    margin-bottom: 3px;
}