* {
    box-sizing: border-box;
  }
  
  .whiteboard {
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
   background-color: white;
  }
  
  .colors {
    position: fixed;
    margin-top: 35px;
    margin-left: 10px;
  }
  
  .color {
    display: block;
    margin: 5px;
    height: 48px;
    width: 48px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }

  .colors button{
    margin:5px;
    display: block;
    width:48px;
    height:48px;
    background-color:antiquewhite;
    font-size: x-large;
    padding-bottom: 7px;
    border:0;
  }